<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Caidhu</h1>
            <h3 class="mb-5">
                <em>Formación Humana con Enfoque Psicoespiritual</em>
            </h3>
            <a class="btn btn-success btn-lg" href="/signin">
                Empecemos
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>